# ===== Headscale / Network =====
HEADSCALE_URL="http://192.168.10.134:8080"

# ===== SSH =====
REMOTE_USER="user"
SSH_KEY="$HOME/.ssh/ethik_keys/SH_FRIGO_1"

# ===== Remote paths =====
REMOTE_FRONT_DIR="/c/Users/user/Documents/weight_fridge/fridge_weight_front"
REMOTE_BACK_DIR="/c/Users/user/Documents/weight_fridge/fridge_weight_back"

# Windows-specific (used only if present)
REMOTE_BASH="/c/Program Files/Git/bin/bash.exe"
REMOTE_KIOSK_BAT="C:\\Users\\user\\Documents\\weight_fridge\\tools\\e-thik\\kiosque_chrome.bat"

# ===== Local paths =====
LOCAL_ENV_DIR="./ENVIRONMENTS_VARIABLES"

# ===== Defaults =====
DEFAULT_FRONT_BRANCH="master"
DEFAULT_BACK_BRANCH="master"
